body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.chat-container {
    width: 500px;
    height: 600px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(to right, #f06292, #9c27b0);
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background: linear-gradient(to right, #f06292, #9c27b0);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.chat-body {
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
    display: block;
}

.chat-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
}

.chat-footer input {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.chat-footer button {
    width: 15%;
    padding: 5px;
    background-color: #4CAF50;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 4px;
}

.chat-footer button:hover {
    background-color: yellow;
}

.chat-message {
    margin-bottom: 10px;
}

.user-message {
    text-align: left;
    background-color: yellow;
    padding: 8px;
    border-radius: 4px;
}

.bot-message {
    text-align: right;
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 10px;
}

.minimized {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.minimized .chat-body {
    display: none;
}

.minimized .chat-footer {
    display: none;
}
.minimize-btn {
    cursor: pointer;
    height: max-content;
    width: max-content;
}
.chat-message-user-message {
    background-color: white;
    height: max-content;
    max-width: max-content;
    border-radius: 10px;
    height: 30px;
    font-size: medium;
}

.i1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 10px;
}
.i6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 10px;
}

.i7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 10px;
}

.i8 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 10px;
    font-weight: bolder;
    font-size: larger;
}
.i6 p {
    font-size: larger;
    font-weight: bolder;
}

.i7 p {
    font-size: larger;
    font-weight: bolder;
}

.i8 p {
    font-size: larger;
    font-weight: bolder;
}

.i2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 10px;
}

.i3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 10px;
}

.i4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 10px;
}

.i5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 10px;
    font-weight: bolder;
}